/* General */
html, html body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%; }
  html body {
    min-height: 100%; }

button {
  border: 0;
  outline: 0;
  font-weight: lighter;
  font-family: sans-serif; }

.my-username {
  color: #2980b9 !important; }

.nifty-box {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 16px;
  padding: 15px;
  margin: 10px 10px 0 0;
  background: rgba(32, 32, 32, 0.8);
  color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }

/* Flash */
#main-flash {
  display: none;
  position: absolute;
  text-align: center;
  width: 300px;
  top: 20%;
  right: -moz-calc(50% - 150px);
  right: -webkit-calc(50% - 150px);
  right: -o-calc(50% - 150px);
  right: calc(50% - 150px);
  z-index: 10000; }
  #main-flash #flash-content-wrapper {
    padding: 10px;
    font-size: 18px; }

/* Map */
#map {
  height: 60%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }

/* Chatbox */
#chatbox {
  height: 30%;
  height: -moz-calc(40% - 70px);
  height: -webkit-calc(40% - 70px);
  height: -o-calc(40% - 70px);
  height: calc(40% - 70px);
  overflow: auto;
  margin: 0 10px 0 10px; }
  #chatbox ul {
    list-style-type: none;
    padding-left: 0; }
    #chatbox ul li {
      display: none; }
    #chatbox ul.active li {
      display: block; }
  #chatbox .message, #chatbox .username {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px; }
  #chatbox .username {
    font-weight: bold;
    color: #c0392b; }
  #chatbox .chatroom-button {
    position: relative;
    padding: 7px;
    float: right;
    background: rgba(32, 32, 32, 0.3);
    margin: 10px 0 0 10px; }
    #chatbox .chatroom-button.blue {
      background: rgba(0, 95, 255, 0.4);
      box-shadow: 0 1px 5px rgba(0, 150, 255, 0.4); }
    #chatbox .chatroom-button .notification-badge {
      display: none;
      padding: 1px 3px;
      position: absolute;
      top: -7px;
      left: -7px;
      font-size: 12px;
      font-weight: bold;
      background: #19B5FE;
      border-radius: 1px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2); }
    #chatbox .chatroom-button .close-button {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: -7px;
      right: -6px;
      color: rgba(32, 32, 32, 0.7);
      transition: opacity .11s ease-in-out;
      -moz-transition: opacity .11s ease-in-out;
      -webkit-transition: opacity .11s ease-in-out;
      -o-transition: opacity .11s ease-in-out; }
      #chatbox .chatroom-button .close-button:hover {
        opacity: 0.7;
        pointer-events: auto;
        color: rgba(32, 32, 32, 0.9); }
  #chatbox .chatroom-button:not(.blue):hover .close-button {
    opacity: 0.7;
    pointer-events: auto; }
    #chatbox .chatroom-button:not(.blue):hover .close-button:hover {
      color: rgba(32, 32, 32, 0.9); }

/* Popup */
.popup-header {
  position: fixed;
  top: 0px;
  padding: 0px 0px 3px 0px;
  color: #c0392b;
  font-weight: bold;
  font-size: 16px; }

.leaflet-popup-content .icon-comment {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 3px 0 0;
  color: #c3c3c3; }

/* Legend box */
#legend-box #chatroom, #legend-box #user-count {
  position: absolute;
  right: 0;
  z-index: 1000; }
#legend-box #user-count {
  top: 58px; }

/* Sign-in modal */
#page-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 9999; }

.modal-text {
  position: absolute;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: white;
  top: 40%;
  width: 100%;
  text-align: center; }
  .modal-text #name-input {
    display: block;
    outline: 0;
    background: transparent;
    border: 0;
    border-bottom: 3px solid white;
    margin: auto;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding: 10px; }
  .modal-text input[type=submit] {
    display: none; }

/* Chat form */
form#chat-form {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 10px; }
  form#chat-form #chat-input {
    width: 90%;
    width: -moz-calc(100% - 130px);
    width: -webkit-calc(100% - 130px);
    width: -o-calc(100% - 130px);
    width: calc(100% - 130px);
    padding: 10px;
    font-size: 18px;
    outline: 0; }
  form#chat-form #send-chat-message {
    padding: 13px;
    position: absolute;
    right: 19px;
    margin: 2px 0 1px 0; }

/* Misc styling elements */
.downward-select-triangle {
  position: absolute;
  right: -moz-calc(50% - 6px);
  right: -webkit-calc(50% - 6px);
  right: -o-calc(50% - 6px);
  right: calc(50% - 6px);
  bottom: 2px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ecf0f1; }
